@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}